<h1>Editing temp week day</h1>

<%= render "form", temp_week_day: @temp_week_day %>

<br>

<div>
  <%= link_to "Show this temp week day", @temp_week_day %> |
  <%= link_to "Back to temp week days", temp_week_days_path %>
</div>
