<p style="color: green"><%= notice %></p>

<h1>Temp week days</h1>

<div id="temp_week_days">
  <% @temp_week_days.each do |temp_week_day| %>
    <%= render temp_week_day %>
    <p>
      <%= link_to "Show this temp week day", temp_week_day %>
    </p>
  <% end %>
</div>

<%= link_to "New temp week day", new_temp_week_day_path %>
