<h1>Editing favourite space</h1>

<%= render "form", favourite_space: @favourite_space %>

<br>

<div>
  <%= link_to "Show this favourite space", @favourite_space %> |
  <%= link_to "Back to favourite spaces", favourite_spaces_path %>
</div>
