<p style="color: green"><%= notice %></p>

<h1>Temp deps</h1>

<div id="temp_deps">
  <% @temp_deps.each do |temp_dep| %>
    <%= render temp_dep %>
    <p>
      <%= link_to "Show this temp dep", temp_dep %>
    </p>
  <% end %>
</div>

<%= link_to "New temp dep", new_temp_dep_path %>
