<h1>Editing quick reservation</h1>

<%= render "form", quick_reservation: @quick_reservation %>

<br>

<div>
  <%= link_to "Show this quick reservation", @quick_reservation %> |
  <%= link_to "Back to quick reservations", quick_reservations_path %>
</div>
